body
{
  background-color: #E4F5F9;
}
.div1{
  text-align: center;
}
h1{
  margin: 0;
  font-family: 'Dancing Script', cursive;
}
#web{
  font-family: 'Patrick Hand', cursive;
}
hr{
  border-style: none;
  border-top: dotted;
  border-color: red;
  width: 4%;
}
.div1{
  background-color: #E4F5F9;
  position: relative;
  padding: 100px 100px 25px 100px;
}
.c1{
  position: absolute;
  right: 250px;
  top: 25px;
}
.c2{
  position: absolute;
  left: 250px;
  bottom: 325px;
}
.circular{
  border-radius: 100%;
}
li{
  font-family: 'Playfair Display', serif;
}
